<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link th:href="@{../webapp/bootstrap.min.css}"
          href="../webapp/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
            max-width: 560px;
        }
    </style>
    <title>벤포드의 법칙</title>
</head>
<body>
<div class="container">
    <button class="w-100 btn btn-primary btn-lg" onclick="location.href='/benford/fibonacci'">피보나치 수열</button>
</div>
</body>
</html>