<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link th:href="@{../webapp/bootstrap.min.css}"
          href="../webapp/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
            max-width: 560px;
        }
    </style>
    <title>벤포드의 법칙</title>
</head>
<body>
<div class="container">
    <br><br>
    <button class="w-100 btn btn-primary btn-lg" onclick="location.href='/benford/fibonacci'">피보나치 수열</button>
    <br><br>
    <button class="w-100 btn btn-primary btn-lg" onclick="location.href='/benford/powerTwo'">2의 제곱</button>
    <br><br>
    <button class="w-100 btn btn-primary btn-lg" onclick="location.href='/benford/koreaStock'">한국 상장주식</button>
    <br><br>
    <button class="w-100 btn btn-primary btn-lg" onclick="location.href='/benford/americaStock'">미국 상장주식</button>
    <br><br>
    <button class="w-100 btn btn-primary btn-lg" onclick="location.href='/benford/koreanPerson'">한국 인구통계</button>
    <br><br>
    <button class="w-100 btn btn-primary btn-lg" onclick="location.href='/benford/worldGdp'">세계 GDP 통계</button>
</div>
</body>
</html>