<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link th:href="@{../webapp/bootstrap.min.css}"
          href="../webapp/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
            max-width: 560px;
        }
    </style>
    <title>2의 제곱</title>
</head>
<body>
<div class="container">
    <h3 style="text-align: center">n = 1,000</h3>
    <canvas id="1000-chart" width="300" height="230"></canvas>
    <h3 style="text-align: center">n = 5,000</h3>
    <canvas id="5000-chart" width="300" height="230"></canvas>
    <h3 style="text-align: center">n = 10,000</h3>
    <canvas id="10000-chart" width="300" height="230"></canvas>
    <h3 style="text-align: center">n = 30,000</h3>
    <canvas id="30000-chart" width="300" height="230"></canvas>
    <h3 style="text-align: center">n = 50,000</h3>
    <canvas id="50000-chart" width="300" height="230"></canvas>
    <h3 style="text-align: center">n = 100,000</h3>
    <canvas id="100000-chart" width="300" height="230"></canvas>
    <br>
    <button class="w-100 btn btn-primary btn-lg" onclick="location.href='/signIn/benford'">뒤로 가기</button>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<script type="text/javascript" src="../webapp/js/powerTwo.js"></script>
<script type="text/javascript" src="../webapp/js/chart.js"></script>
<script type="text/javascript">
    let context100000 = document.getElementById("100000-chart").getContext('2d');
    let context1000 = document.getElementById("1000-chart").getContext('2d');
    let context5000 = document.getElementById("5000-chart").getContext('2d');
    let context10000 = document.getElementById("10000-chart").getContext('2d');
    let context30000 = document.getElementById("30000-chart").getContext('2d');
    let context50000 = document.getElementById("50000-chart").getContext('2d');
    my_chart(context1000, power_obj, 1000);
    my_chart(context5000, power_obj, 5000);
    my_chart(context10000, power_obj, 10000);
    my_chart(context30000, power_obj, 30000);
    my_chart(context50000, power_obj, 50000);
    my_chart(context100000, power_obj, 100000);
</script>
</body>
</html>