<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link th:href="@{../webapp/bootstrap.min.css}"
          href="../webapp/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
            max-width: 560px;
        }
    </style>
    <title>셰계 GDP</title>
</head>
<body>
<div class="container">
<h3 style="text-align: center">세계 GDP 통계</h3>
<canvas id="gdp-chart" width="300" height="230"></canvas>
<br>
<button class="w-100 btn btn-primary btn-lg" onclick="location.href='/signIn/benford'">뒤로 가기</button>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<script type="text/javascript" src="../webapp/js/world_gdp.js"></script>
<script type="text/javascript" src="../webapp/js/chart.js"></script>
<script>
    let contextGdp = document.getElementById("gdp-chart").getContext('2d');
    my_chart(contextGdp, world_obj, "gdp");
</script>
</body>
</html>