<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link th:href="@{./webapp/bootstrap.min.css}"
          href="./webapp/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
            max-width: 560px;
        }
    </style>
    <title>로그인 화면</title>
</head>
<body>
<div class="container">
    <div class="py-5 text-center">
        <h2>로그인</h2>
    </div>
    <form action="/auth" method="get">
        <div style="text-align: center">
            <a href="https://kauth.kakao.com/oauth/authorize?client_id=2c8dc6dbbc94f8e6332d9bc9d6fc3b5e&redirect_uri=http://localhost:8080/auth&response_type=code"
               class="col-sm-3 text-center">
                <img src="./webapp/kakao_login_medium_wide.png"/>
            </a>
        </div>
    </form>
    <br>
</div>
</body>
</html>